version: '3.3'

services:
   db:
     image: mysql:5.7
     volumes:
       - db_data:/var/lib/mysql
     restart: always
     environment:
       MYSQL_ROOT_PASSWORD: somewordpress
       MYSQL_DATABASE: wordpress
       MYSQL_USER: wordpress
       MYSQL_PASSWORD: wordpress

   wordpress:
     depends_on:
       - db
     image: wordpress:latest
     ports:
       - "8000:80"
     restart: always
     volumes:
      - ./:/var/www/html/wp-content/plugins/imageboss
      - ./wp-content:/var/www/html/wp-content
      - ./local.ini:/usr/local/etc/php/conf.d/local.ini
     environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_ADDITIONAL_CONFIG: |
        define('WP_MEMORY_LIMIT', '256M' );
        define('WP_MAX_MEMORY_LIMIT', '512M' );
        define('WP_UPLOAD_MAX_FILESIZE', '64M');
        define('WP_POST_MAX_SIZE','64M');
        define('WP_UPLOAD_MAX_SIZE','64M');


volumes:
  db_data:
